/* Estilos para a página do chatbot */
.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif; /* Volta para a fonte anterior */
}

.chat-header {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Arial, sans-serif; /* Fonte original */
}

.chat-history {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    height: 300px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}

.chat-input textarea {
    flex-grow: 1;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    resize: none;
}

.chat-input button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.media-upload {
    cursor: pointer;
    font-size: 20px;
}

.message {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    max-width: 60%;
    word-wrap: break-word;
    font-size: 14px;
    clear: both;
}

/* Mensagens do chatbot (alinhadas à esquerda) */
.bot-message {
    background-color: #f1f1f1;
    align-self: flex-start;
    float: left;
    border-radius: 15px 15px 15px 0;
    clear: both;
}

/* Mensagens do usuário (alinhadas à direita) */
.user-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
    float: right;
    border-radius: 15px 15px 0 15px;
    clear: both;
}

.file-message {
    background-color: #007bff;
    color: white;
    font-style: italic;
    margin-top: 5px;
}

.message-with-file {
    display: flex;
    flex-direction: column;
}


.btn-add-midia {
    width: 1cm;
    height: 1cm;
}

